/* Theme variables */
:root {
  --background-color: white;
  --background-color-secondary: #f5f5f5;
  --text-color: black;
  --text-color-secondary: #333;
  --border-color: black;
  --border-color-secondary: #333;
}
