html {
    font-family: "Merriweather Sans", sans-serif;
  }
  body {
    background-color: var(--background-color);
    background-image: url('../images/bgdark.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
    .title{
        font-size: 2.5rem;
        color: var(--text-color);
        font-weight: bold;
        text-align: center;
        margin-top: 10%;
    }